###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [2]:
# Method 1 
nums=[1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [3]:
# Method 2
nums=[1,2,3,4]
nums.pop(2)
nums

[1, 2, 4]

In [4]:
# Method 3
nums=[1,2,3,4]
del nums[2]
nums

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [5]:
nums=[1,2,3,4]
a=nums.pop()
print(a,nums)

4 [1, 2, 3]

In [6]:
nums

[1, 2, 3]

**Check nums.pop(0) ** 
> write you comment after executing this command

In [7]:
    # removes zeroth position
    nums.pop(0)

1

In [8]:
nums

[2, 3]

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [9]:
# Method1
nums=[2]
nums.extend([3,4])
nums

[2, 3, 4]

In [10]:
#Method 2
nums=[2]
nums.extend([3,4])
nums

[2, 3, 4]

**Insert number "1" in 0th position**

In [11]:
nums=[2,3,4]
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [12]:
nums=[1,2,3,4]
nums.insert(2,("two-and-half"))
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [13]:
plist="Don't panic!"
plist

"Don't panic!"

*convert into list*

In [14]:
plist = list(plist)
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [15]:
plist.remove("'")
plist.remove("!")
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [16]:
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [17]:
#plist.remove("p")
plist.remove("a")
plist.remove("D")

plist

['o', 'n', 't', ' ', 'p', 'n', 'i', 'c']

In [18]:
plist.remove(plist[-4])

In [19]:
plist.extend(["p","a","n","D"])
plist

['o', 'n', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

In [ ]:
In extend() , adds the elements at the last of the list

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

- append list

In [20]:
plist1

NameError: name 'plist1' is not defined

- Join list

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [ ]:
# CODE HERE

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:
# CODE HERE

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [ ]:
# CODE HERE

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
# CODE HERE

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)